body,
html {
    height: 100%;
}


 ul a:link {
    color: violet;
 }

 ul a:visited {
    color: black;         
} 

 ul a:hover{
     background: lightblue;
     border: 1px solid slateblue;
 }

 ul a:active {
     color:red;
 }

 ul a::after {
     content:"("attr(href)")";
 }

 .highlight:hover {
    background: #ffff00;
    padding: 3px;
    cursor: pointer;
 }

 .highlight > a {
    display: none;
}

 .highlight:hover > a {
     display: inline;
 }

 ul li:last-child {
     color: green;
 }

 ul li:first-child {
    color: lightgreen;
}

ul li:first-child::before {
    color:crimson;
    content: "Important - ";
}

ul li:last-child::after {
    color: red;
    content: " - dont forget!";
}

ul li:nth-child(5) {
    color: aquamarine;
}

ul li:nth-child(9) {
    color: plum;
}

.divForHover::first-letter {
    font-size: 150%;
    color:red;
}

::selection {
    color: #ffffff;
    background: black;
}

/*.nav-styled {
    width: 100%;
    background-color: rgb(234, 168, 243);
    border: 2px solid darkmagenta;
    top: 5px;
    padding: 3px;
}    

.position-sticky {
    position: sticky;
    position: -webkit-sticky;
}

.parent {
    width: 400px;
    height: 200px;
    //border: 1px solid #c9d3c9;
    padding: 10px;
    //background: papayawhip;
    position: relative;
    align-items: center;
}



.child {
    width: 100px;
    height: 50px;
    //border: 2px solid #000000;
    position: absolute;
    top: 150px;
    left: 303px;
    //background: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent2 {
    width: 377px;
    border: 2px solid grey;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    margin-left: 9px;
    position: relative;
}

.child2 {
    font-size: 35px;
    color: red;
    position: absolute;
    top: -30px;
    left: 180px;
    background: #ffffff;
    border: 7px solid #ffffff;
    border-radius: 61px;
    display: flex;
    justify-content: center;
    align-items: center;  
 }

hr {
    border: none; 
    background-color:#ffffff; 
    color:lightgrey;
    height: 5px; 
} */





